.button {
  align-self: center;
  margin: 3em;
  border: 2px solid;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  font-size: var(--base-font-size);
  width: 60%;
  max-width: 7em;
  margin: 0 auto;
}

.button__link {
  text-decoration: none;
  margin-top: 1em;
}

.button__link:visited {
  color: var(--black);
}

.button__link:active {
  color: var(--weak-red);
}

.button__link:hover {
  color: var(--strong-blue);
}
